{% extends 'base.html' %}

{% load static %}  <!-- Ensure this line is included at the top -->

{% block title %}{% if form.instance.id %}تعديل{% else %}إضافة{% endif %} بريد صادر{% endblock %}

{% block header %}{% if form.instance.id %} - تعديل{% else %} - إضافة{% endif %} بريد صادر{% endblock %}

{% block content %}
<div class="form-container">
    <form action="{% if form.instance.id %}{% url 'edit_outgoing' form.instance.id %}{% else %}{% url 'add_outgoing' %}{% endif %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="input-group">
            <label for="reg_number">رقم الرسالة:</label>
            <input type="text" id="reg_number" name="reg_number" value="{{ form.reg_number.value|default:'' }}" required>
        </div>

        <div class="input-group date-input-container">
            <label for="out_date">التاريخ:</label>
            <input type="text" id="out_date" name="out_date" value="{{ form.out_date.value|default:'' }}" required placeholder="DD-MM-YYYY" dir="ltr" style="text-align: right;">
            <input type="date" id="out_date_native" name="out_date_native" style="display:none;" onchange="document.getElementById('out_date').value = this.value">
        </div>

        <div class="input-group">
            <label for="dept_from">من:</label>
            <input type="text" id="dept_from" name="dept_from" value="{{ form.dept_from.value|default:'' }}" required>
        </div>

        <div class="input-group">
            <label for="dept_to">إلى:</label>
            <input type="text" id="dept_to" name="dept_to" value="{{ form.dept_to.value|default:'' }}" required>
        </div>

        <div class="input-group">
            <label for="title">العنوان:</label>
            <input type="text" id="title" name="title" value="{{ form.title.value|default:'' }}" required>
        </div>

        <div class="input-group">
            <label for="keywords">الكلمات المفتاحية:</label>
            <textarea id="keywords" name="keywords" rows="4" required>{{ form.keywords.value|default:'' }}</textarea>
        </div>

        <div class="input-group">
            <label for="pdf_file">ملف PDF:</label>
            <input type="file" id="pdf_file" name="pdf_file" accept="application/pdf" style="display: none;" onchange="upFileName()">
            <label for="pdf_file" class="upload-label">Choose file</label>
            <span id="file-name">
                {% if form.instance.pdf_file %}
                    تنبيه! تم العثور على ملف PDF. سيتم استبداله في حالة اختيارك لملف جديد!
                {% else %}
                    لم يتم إختيار ملف.
                {% endif %}
            </span>
        </div>        

        <div class="button-group">
            <button type="submit" class="save-button">حفظ</button>
            <a href="{% url 'outgoing_mail' %}" class="cancel-button">إلغاء</a>
        </div>
    </form>
</div>
<script src="{% static 'js/date.js' %}" defer></script>
{% endblock %}