{% extends 'base.html' %}

{% load static %}  <!-- Ensure this line is included at the top -->

{% block title %}{% if form.instance.id %}تعديل{% else %}إضافة{% endif %} بريد صادر{% endblock %}

{% block header %}{% if form.instance.id %} - تعديل{% else %} - إضافة{% endif %} بريد صادر{% endblock %}

{% block content %}
<div class="form-container">
    <form action="{% if form.instance.id %}{% url 'edit_outgoing' form.instance.id %}{% else %}{% url 'add_outgoing' %}{% endif %}" method="POST" enctype="multipart/form-data" dir="rtl">
        {% csrf_token %}
        
        <div class="input-group">
            <label for="reg_number">رقم الرسالة:</label>
            <input type="text" id="reg_number" name="reg_number" value="{{ form.reg_number.value|default:'' }}" required>
        </div>

        <div class="input-group date-input-container">
            <label for="out_date">التاريخ:</label>
            {{ form.out_date }}  <!-- This will render the DatePickerInput widget -->
        </div>

        <div class="input-group">
            <label for="dept_from">من:</label>
            <input type="text" id="dept_from" name="dept_from" value="{{ form.dept_from.value|default:'' }}" required>
        </div>

        <div class="input-group">
            <label for="dept_to">إلى:</label>
            <input type="text" id="dept_to" name="dept_to" value="{{ form.dept_to.value|default:'' }}" required>
        </div>

        <div class="input-group">
            <label for="title">العنوان:</label>
            <input type="text" id="title" name="title" value="{{ form.title.value|default:'' }}" required>
        </div>

        <div class="input-group">
            <label for="keywords">الكلمات المفتاحية:</label>
            <textarea id="keywords" name="keywords" rows="4" required>{{ form.keywords.value|default:'' }}</textarea>
        </div>

        <div class="input-group">
            <span for="pdf_file" style="font-size: 20px; font-weight: 600;">ملف PDF:</span><br>
            <input type="file" id="pdf_file" name="pdf_file" accept="application/pdf" style="display: none;" onchange="renderPDF(), upFileName()">
            <label for="pdf_file" class="upload-label">Choose file</label>
            <span id="file-name">
                {% if form.instance.pdf_file %}
                    تنبيه! تم العثور على ملف PDF. سيتم استبداله في حالة اختيارك لملف جديد!
                {% else %}
                    لم يتم إختيار ملف.
                {% endif %}
            </span>
        </div>        

        <div class="button-group">
            <button type="submit" class="save-button">حفظ</button>
            <a href="{% url 'outgoing_mail' %}" class="cancel-button">إلغاء</a>
        </div>
    </form>
    <div id="pdf-preview" class="pdf-preview-container2"></div> <!-- PDF Preview Container -->
</div>    
{% endblock %}