{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}{{ arabic_names | title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Button and Search Bar-->
<div class="header">
    <!-- Add Button -->
    <button class="btn btn-primary" 
            style= "--bs-btn-font-size: 18px; --bs-btn-bg: var(--htitle); --bs-btn-color: white; --bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1rem;
            text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;" 
            onclick="location.href='{% url 'add_document' model_name=model_name %}'">
        <i class="bi"></i> + إضافة جديد
    </button>        

    <!-- Sorting Dropdown -->
    <div class="btn-group">


        <a href="?{% if nlq %}search={{ nlq }}&{% endif %}sort={{ sort_option }}&order={{ new_order }}" class="btn btn-secondary">
            {% if sort_option == 'number' %}
                الرقم
            {% elif sort_option == 'date' %}
                التاريخ
            {% elif sort_option == 'title' %}
                العنوان
            {% elif sort_option == 'updated_at' %}
                اخر تعديل
            {% else %}
                ترتيب
            {% endif %}
            &nbsp;  <!-- This adds a non-breaking space -->
            {% if order == 'asc' %}
                ↑
            {% elif order == 'desc' %}
                ↓
            {% endif %}
        </a>

        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" 
                style="--bs-btn-font-size: 18px; --bs-btn-padding-y: .4rem; --bs-btn-padding-x: 1.5rem; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;" 
                type="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortDropdown">
            <li>
                <a class="dropdown-item" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort=number&order={{ new_order }}">
                    الرقم
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort=date&order={{ new_order }}">
                    التاريخ
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort=title&order={{ new_order }}">
                    العنوان
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort=updated_at&order={{ new_order }}">
                    اخر تعديل
                </a>
            </li>
        </ul>        
    </div>

    <!-- Search Form -->
    <form id="search-form" method="GET" action="{% url 'document_view' model_name=model_name %}" class="d-flex flex-fill">
        <div class="input-group flex-grow-1">
            <button class="btn btn-outline-secondary" type="button" id="mic-button" title="تسجيل الصوت">
                <i class="fas fa-microphone"></i>
            </button>
            <input type="text" name="search" class="form-control" placeholder="كيف يمكنني مساعدتك..." value="{{ nlq }}">
            <button class="btn btn-outline-secondary" type="submit">بحــث</button>
        </div>
    </form>
</div>

<!-- Table Container -->
<div id="results-container">
    <table class="table-container">
        <thead>
            <tr>
                <th>الرقم</th>
                <th>تاريخ التسجيل</th>
                <th>العنوان</th>
                {% if model_name == 'incoming' %}
                    <th>رقم الرسالة</th>
                    <th>تاريخ الرسالة</th>
                    <th>من</th>
                    <th>الى</th>
                {% elif model_name == 'outgoing' %}
                    <th>من</th>
                    <th>الى</th>
                {% elif model_name == 'internal' %}
                    <th>من</th>
                    <th>الى</th>
                {% elif model_name == 'decree' %}
                    <th>الوزير</th>
                    <th>الحكومة</th>
                {% endif %}
                <th>إجراءات</th>
            </tr>
        </thead>
        <tbody id="document-table-body">
            {% for doc in documents %}
            <tr id="document-row-{{ doc.id }}">
                <td>{{ doc.number }}</td>
                <td>{{ doc.date }}</td>
                <td 
                    data-bs-toggle="tooltip" 
                    data-bs-placement="auto" 
                    data-bs-html="true"
                    data-bs-delay='{"show":750,"hide":100}'
                    data-bs-custom-class="custom-tooltip"
                    data-bs-original-title="{{ doc.keywords }}">
                    {{ doc.title }}
                </td>
                {% if model_name == 'incoming' %}
                    <td>{{ doc.orig_number }}</td>
                    <td>{{ doc.orig_date }}</td>
                    <td>{{ doc.affiliate.name }}</td>
                    <td>{{ doc.department.name }}</td>
                {% elif model_name == 'outgoing' %}
                    <td>{{ doc.department.name }}</td>
                    <td>{{ doc.affiliate.name }}</td>
                {% elif model_name == 'internal' %}
                    <td>{{ doc.department.name }}</td>
                    <td>{{ doc.department_to.name }}</td>
                {% elif model_name == 'decree' %}
                    <td>{{ doc.minister.name }}</td>
                    <td>{{ doc.government.name }}</td>
                {% endif %}
                <td>
                    <div class="action-container">
                        <a href="#" 
                            data-model-type="{{ doc.model_type }}" 
                            data-document-id="{{ doc.id }}" 
                            class="action-icon" 
                            title="عرض" 
                            onclick="viewDocumentDetails(this); return false;">
                            <img src="{% static 'img/view.png' %}" alt="View" class="icon">
                         </a>
                        {% if doc.has_file %}
                            <a href="{% url 'download_document' model_name=model_name object_id=doc.id %}" class="action-icon" title="تحميل">
                                <img src="{% static 'img/pdf.png' %}" alt="Download" class="icon">
                            </a>
                        {% else %}
                            <span title="لا يوجد ملف" class="action-icon disabled">
                                <img src="{% static 'img/nopdf.png' %}" alt="No Files" class="icon" style="opacity: 0.5;">
                            </span>
                        {% endif %}
                        <a href="{% url 'edit_document' model_name=model_name document_id=doc.id %}" class="action-icon" title="تعديل">
                            <img src="{% static 'img/edit.png' %}" alt="Edit" class="icon"> 
                        </a>
                        <a class="action-icon" onclick="confirmDeletion('{{ model_name }}', {{ doc.id }}, '{{ doc.number }}')" title="حذف">
                            <img src="{% static 'img/delete.png' %}" alt="Delete" class="icon">
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="7">لا توجد بيانات لعرضها.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination Controls -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort={{ sort_option }}&order={{ order }}&page=1">First</a>
            </li>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort={{ sort_option }}&order={{ order }}&page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if nlq %}search={{ nlq }}&{% endif %}sort={{ sort_option }}&order={{ order }}&page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
    </ul>
</nav>


<!-- Popup Modal for Document Details -->
<div id="documentModal" style="display:none;">
    <div id="modalContent">
        <div id="pdfPreviewContainer" style="width: 50%; float: right;"></div>
        <div id="documentDetails" style="width: 45%; float: left;">
            <h3 id="modal-title"></h3>
            <p id="modal-number"></p>
            <p id="modal-date"></p>
            <p id="modal-keywords"></p> <!-- Keywords will be shown here -->
            <a id="download-link" href="#" class="btn btn-primary" target="_blank">تحميل PDF</a> <!-- Download link -->
        </div>
    </div>
</div>

<!-- Popup Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">تأكيد الحذف!</h5>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من حذف الوثيقة رقم <span id="documentNumber"></span>؟</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="confirmDeleteButton">نعم، احذف</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}