{% extends 'base.html' %}

{% load static %}  <!-- Ensure this line is included at the top -->

{% block title %}البريد الصادر{% endblock %}

{% block header %}البريد الصادر{% endblock %}

{% block content %}
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>الرقم</th>
                <th>التاريخ</th>
                <th>من</th>
                <th>إلى</th>
                <th>العنوان</th>
                <th>الكلمات المفتاحية</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody id="document-table-body">
            {% for document in documents %}
            <tr id="document-row-{{ document.id }}" onclick="openDocumentDetails({{ document.id }})">
                <td>{{ document.reg_number }}</td>
                <td>{{ document.out_date|date:"Y-m-d" }}</td>
                <td>{{ document.dept_from }}</td>
                <td>{{ document.dept_to }}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.keywords }}</td>
                <td>
                    <div class="action-container">
                        <div class="dropdown">
                            <button class="dropbtn">تحميل PDF</button>
                            <div class="dropdown-content">
                                {% if document.pdf_file %}
                                    <a href="{% url 'download_pdf' model_name='outgoing' object_id=document.id %}">تحميل الرسالة</a>
                                {% else %}
                                    <span class="disabled-option">لا يوجد ملف PDF</span>
                                {% endif %}
                                {% if document.attach %}
                                    <a href="{% url 'download_attach' model_name='outgoing' object_id=document.id %}">تحميل المرفقات</a>
                                {% else %}
                                    <span class="disabled-option">لا يوجد مرفقات</span>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{% url 'edit_outgoing' document.id %}" class="edit-button">
                            <img src="{% static 'img/edit.png' %}" alt="Edit" class="icon"> 
                        </a>
                        <a class="delete-button" onclick="confirmDeletion('Outgoing', {{ document.id }})">
                            <img src="{% static 'img/delete.png' %}" alt="Delete" class="icon">
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">لا توجد بيانات لعرضها.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if documents.has_previous %}
                <a href="?page=1" class="pagination-button">&laquo; الأول</a>
                <a href="?page={{ documents.previous_page_number }}" class="pagination-button">السابق</a>
            {% endif %}
            <span class="current">
                صفحة {{ documents.number }} من {{ documents.paginator.num_pages }}.
            </span>
            {% if documents.has_next %}
                <a href="?page={{ documents.next_page_number }}" class="pagination-button">التالي</a>
                <a href="?page={{ documents.paginator.num_pages }}" class="pagination-button">الأخير &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}