<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عرض الوثائق الصادرة</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="title">
    <h1>عرض الوثائق الصادرة</h1>
</div>

<div class="container">
    <div class="dashboard">
        <h2>لوحة التحكم</h2>
        <button onclick="location.href='{% url 'add_outgoing' %}'">إدخال بيانات جديدة</button>
        <button onclick="#">الخيار 2</button>
        <button onclick="#">الخيار 3</button>
        <button onclick="#">الخيار 4</button>
        <button onclick="#">الخيار 5</button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>رقم الوثيقة</th>
                    <th>التاريخ</th>
                    <th>القسم من</th>
                    <th>القسم إلى</th>
                    <th>العنوان</th>
                    <th>الكلمات المفتاحية</th>
                    <th>الإجراءات</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>{{ document.reg_number }}</td>
                    <td>{{ document.out_date }}</td>
                    <td>{{ document.dept_from }}</td>
                    <td>{{ document.dept_to }}</td>
                    <td>{{ document.title }}</td>
                    <td>{{ document.keywords }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">الإجراءات</button>
                            <div class="dropdown-content">
                                {% if document.id %}
                                    <a href="{% url 'edit_outgoing' document.id %}">تعديل</a>  <!-- Edit link -->
                                    <a href="{% url 'download_outgoing_pdf' outgoing_id=document.id %}">تحميل PDF الرئيسي</a>
                                {% else %}
                                    <span>لا يوجد ID</span>
                                {% endif %}
                                {% if document.attach %}
                                    <a href="{{ document.attach.url }}">تحميل الملف المرفق</a>
                                {% else %}
                                    <span>لا يوجد مرفقات</span>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">لا توجد بيانات لعرضها.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</body>
</html>